<div id="menu"><!-- class="p7PMMv08">-->
	<div style="height:100%; width:55%; display:block;float:left;">
	
	

	<ul class="mobile-menu-section">
		<li><a href="https://www.ocdla.org/index.shtml">Home</a></li>
		<li><a href="//ocdla.force.com/OcdlaEvents">Seminars &amp; Events</a></li>
		<li><a href="//ocdla.force.com">Publications</a></li>
		<li><a href="https://libraryofdefense.ocdla.org">Library of Defense</a></li>
		<li><a href="https://libraryofdefense.ocdla.org/Public:Subscriptions">Books Online</a></li>
		<li><a href="//ocdla.force.com">CLE Archive</a></li>
		<li><a href="https://www.ocdla.org/news-defenseattorney-archive.shtml">Defense Attorney</a></li>
	</ul>





	<ul class="mobile-menu-section" style="padding-bottom:800px;">
		<li class="mobile-menu-section-header"><a href="https://www.ocdla.org/shop-membr-index.shtml">Join OCDLA</a></li>
		<li><a href="https://www.ocdla.org/about-new-members.shtml">New Members</a></li>
		<li><a href="https://www.ocdla.org/about-life.shtml">Life Members</a></li>
		<li><a href="https://www.ocdla.org/about-sustaining.shtml">Sustaining Members</a></li>
		<li><a href="https://www.ocdla.org/about-honored.shtml">Honored Members</a></li>
	</ul>

	

	
	<!--
	<ul class="mobile-menu-section">Member Directory</ul>
	<a href="https://libraryofdefense.ocdla.org/" target="new">Library of Defense</a>
	<a href="https://www.ocdla.org/news-legis.shtml">Legislative Action</a>
	<a href="https://www.ocdla.org/shop-membr-capdef.shtml">Capital Defenders</a>
	<a href="https://www.ocdla.org/news-defenseattorney-archive.shtml">Defense Attorney</a>


	<ul class="mobile-menu-section">Donations</ul>
	<a href="https://www.ocdla.org/about-donors-building.shtml">Building Campaign</a>
	<li><a href="https://www.ocdla.org/shop-donation-index.shtml">Donate</a></li>
	<li><a href="https://www.ocdla.org/about-donors.shtml">Donors</a></li>

	

	<ul class="mobile-menu-section">
		<li class="mobile-menu-header">Resources</li>
		<li><a href="https://www.ocdla.org/resources-pd.shtml">Public Defense</a></li>
		<li><a href="https://www.ocdla.org/data-emaillists.shtml">Listserves</a></li>
		<li><a href="http://libraryofdefense.ocdla.org/" target="new">Library of Defense</a></li>
		<li><a href="http://www.ocdla.org/resources-expert-witness.shtml/">Expert Witnesses</a></li>
		<li><a href="https://www.ocdla.org/members_only/index.php">Legal Document Library</a></li>
		<li><a href="https://www.ocdla.org/news-view.shtml">View From Here</a></li>
		<li><a href="https://www.ocdla.org/resources-video-archive.shtml">Seminar Video Highlights</a></li>
		<li><a href="https://www.ocdla.org/news-announce.shtml">News</a></li>
		<li><a href="https://www.ocdla.org/photogallery1.shtml">OCDLA Photo Galleries</a></li>
		<li><a href="https://www.ocdla.org/resources-links.shtml">Links</a></li>
		<li><a href="https://www.ocdla.org/resources-download-tips.shtml">Download Tips</a></li>
	</ul>


	<ul class="mobile-menu-section">About OCDLA
		<li><a href="https://www.ocdla.org/shop-membr-index.shtml">About OCDLA</a></li>
		<li><a href="https://www.ocdla.org/contact-board.shtml">Board of Directors</a></li>
		<li><a href="https://www.ocdla.org/seminars/about-award.shtml">Ken Morrow Award Recipients</a></li>
		<li><a href="https://www.ocdla.org/contact-committee.shtml">Committees</a></li>
		<li><a href="https://www.ocdla.org/contact-us.shtml">Office/Staff/Lobbyists</a></li>
		<li><a href="https://www.ocdla.org/about-faq.shtml">FAQs</a></li>
		<li><a href="https://www.ocdla.org/about-copyright.shtml">Copyright Info</a></li>
	</ul>


	<ul>Contact Us
		<li><a href="https://www.ocdla.org/contact-board.shtml">Board of Directors</a></li>
		<li><a href="https://www.ocdla.org/contact-committee.shtml">Committees</a></li>
		<li><a href="https://www.ocdla.org/contact-groups.shtml">OCDLA Represented Groups and Task Forces</a></li>
		<li><a href="https://www.ocdla.org/contact-us.shtml">Office/Staff/Lobbyists</a></li>
	</ul>
	-->	
	</div>
	
	<div style="height:100%; width:45%; display:block;float:left; text-align:right;">




	
	<ul class="mobile-menu-section">
		<li><a href="https://members.ocdla.org/my-profile">My Profile</a></li>
		<li><a href="https://members.ocdla.org/directory">Member Directory</a></li>		
		<li><a href="https://www.ocdla.org/calendar.shtml">Expert Witnesses</a></li>
		<li><a href="https://www.ocdla.org/employment/jobs_newocdla.cfm">Jobs</a></li>
		<li><a href="https://www.ocdla.org/calendar.shtml">Calendar</a></li>
		<li><a href="https://www.ocdla.org/awards/awards.shtml">Awards</a></li>
		<li><a href="https://www.ocdla.org/contact-board.shtml">Board of Directors</a></li>
		<li><a href="https://www.ocdla.org/contact-committee.shtml">Committees</a></li>
		<li><a href="https://www.ocdla.org/contact-us.shtml">Staff/Lobbyists</a></li>
		<li><a href="https://www.ocdla.org/shop-membr-capdef.shtml">Capital Defenders</a></li>
		<li><a href="https://www.ocdla.org/about-donors.shtml">Donors</a></li>
		<li><a href="https://www.ocdla.org/shop-donation-index.shtml">Donate</a></li>
	</ul>
	</div>
</div>
