  <div class="content"><!-- InstanceBeginEditable name="SidebarRight" -->
        <h6 class="style12">Special <em>Gideon</em> Issue</h6>
        <p class="style19"><a href="/news-defenseattorney-archive.shtml"><img src="/images/images-products/feb_mar_2013_cover_150.jpg" alt="Gideon Issue" width="135" height="177" border="0" /></a><br />
          <a href="/news-defenseattorney-archive.shtml"><img src="/images/images-buttons/arrow-trans.png" alt="arrow" width="7" height="10" border="0" /> MORE.</a><br />
        </p>
        <h6 class="eventdate">&nbsp;</h6>



<!-- twitter example markup -->
<span class="style20"><a href="http://twitter.com/OregonDefense">OCDLA Twitter</a></span>
       <!-- <span class="style20">OCDLA Twitter</span>-->
  <div id="feed-control-right" style="/*height:200px; padding-bottom:5px;*/">

    <span style="color:#676767;font-size:11px;margin:10px;padding:4px;">Loading...</span>  </div>
  <!-- end twitter example markup (see below for the virtual include)-->
  
  
<h6 class="eventdate">&nbsp;</h6>
        <p><a href="http://www.lifesafer.com/oregon/ocdla/?utm_source=ocdla&amp;utm_medium=banner&amp;utm_campaign=sponsorship" target="_blank"><img src="/images/images-ads/LifeSafer_150_x_194_banner.jpg" alt="LifeSafer Ad" width="141" height="178" border="0" /></a></p>
        <p><a href="http://www.lifesafer.com/oregon/ocdla/?utm_source=ocdla&amp;utm_medium=banner&amp;utm_campaign=sponsorship" target="_blank">OCDLA members and their clients save with LifeSafer ignition interlock, proud sponsor of OCDLA.</a></p>
        <h6 class="eventdate">&nbsp;</h6>
        <h5>Meetings</h5>
        <p><strong>Board Meeting</strong><strong><br /> 
        March 8, 9:00 a.m. – Noon</strong><br /> 
        Eugene Hilton
<span class="eventdescrip"><br />
<a href="/calendar.shtml"> <img src="/images/images-buttons/arrow-trans.png" alt="arrow" width="7" height="10" border="0" /> See calendar for other events and meetings</a></span>.<br />
        </p>
        <h6>&nbsp;</h6>
