	<div id="masthead">
		<div class="content">
		</div>
	</div>
	
	<div id="topnav">
		<ul class="content" id="navlinks">
			<li id="user-widget">
			</li>
			<li id="login-block" class="menu-item first">
				<a class="item last" id="login" href="https://auth.ocdla.org/login">Member Login</a>
			</li>
			<li class="menu-item">
				<a id="lod_link" href="https://libraryofdefense.ocdla.org">Library of Defense</a>
			</li>
			<li class="menu-item">
				<a href="https://ocdla.force.com">OCDLA Store</a>
			</li>
			<li class="menu-item">
				<a href="https://www.ocdla.org/search.shtml">SEARCH</a>
			</li>
		</ul>
	</div>