   <div id="center">
      <div class="content"><!-- InstanceBeginEditable name="MainContent" -->
      	<h3 style='border: 1px dashed #666;padding:5px;margin-bottom:10px;color:red;'>This is the OCDLA Test Business site</h3>
        <h3>The 6th Annual Nancy Bergeson Ardent Advocate Lecture Series</h3>
        <h6>Thursday, July 21 • The Cleaners, Ace Hotel • Portland</h6>
        <p>Ron Yengich, was a good friend and early mentor of Nancy Bergeson. Tough, scrappy and successful, he always has been the lawyer young defenders hope to become. In 1982, when Nancy Bergeson found herself charged with unlawfully allowing her golden retriever to run free, Mr. Yengich was her lawyer. He first fought unsuccessfully for a “doggy line-up”, then obtained a dismissal after the animal control officer could not identify Nancy’s dog in a Golden Retriever photo throw down. More recently, Ron Yengich was Utah’s 2015 “Lawyer of the Year,” a rare feat for an attorney who practices exclusively “blue-collar” criminal defense.<br />
        <a href="http://www.ocdla.org/calendar.shtml"><img width="7" height="10" alt="arrow" src="/images/images-buttons/arrow-trans.png" border="0" /></a> <a href="http://ocdla.org/seminars/shop-seminar-2016-ardentadvocate.shtml">More information and registration</a>.</p>
        <p>&nbsp;</p>
        <p><a href="https://www.ocdla.org/cart/detail_newocdla.cfm?i=1683"><img src="/images/images-products/2016_Legislative_Analysis_Cover_150.jpg" width="150" height="190" border="0" class="imgRight" /></a></p>
        <h3>2016 Legislative Analysis</h3>
        <p>The 2016 <em>Legislative Analysis of Criminal and Juvenile Laws</em> contains summaries and complete enrolled versions of 17 bills - a record for a short session - covering new criminal and juvenile legislation.</p>
        <p>Extensive analysis on the most critical bills this session, such as:<br />
          •	HB 4066 - Effective immediately, creates new offenses relating to drones<br />
          •	HB 4014 - Effective immediately, changes to cannabis laws &amp; crimes<br />
          •	HB 4074 - Effective immediately, juvenile sex offender registration changes<br />
          •	SB 1571 - Effective immediately, bill relating to testing sexual assault kits<br />
          •	SB 1600 - Effective 1/1/2017, authorizes prosecution of Rape I &amp; other Level I sexual crimes if corroborating evidence is found<br />
          •	HB 4046 - Effective 1/1/2017, wildlife laws &amp; violations</p>
        <p>Plus:<br />
          •	Complete Index and Guide to Bills by Subject<br />
        •	Paginated &quot;Quick List&quot; to the House and Senate sections</p>
        <p> <a href="http://www.ocdla.org/calendar.shtml"><img width="7" height="10" alt="arrow" src="/images/images-buttons/arrow-trans.png" border="0" /></a> <a href="https://www.ocdla.org/cart/detail_newocdla.cfm?i=1683">Order your hard copy or access your free PDF</a>.<br />
        </p>
        <p>&nbsp;</p>
        <h3><img src="/images/images-products/DTNB_NotebookCover2014_150.jpg" width="150" height="157" class="imgLeft" />2016 Update for DUII Trial Notebook</h3>
        <p>New! A 2016 Update for the DUII Trial Notebook is now available, included with your purchase. Editors Rob Crow &amp; Ben Eder compiled legislation and case law issued since the Notebook was published in 2014 and have updated 7 of the 17 chapters. From booking your client to client sentencing, from the IC hearing to Motions to Suppress, from Diversion to FSTs, the 2016 update provides all the relevant changes over the past two years to keep you — and your clients — current with the law. A must-have for any DUII practitioner. <a href="https://www.ocdla.org/cart/detail_newocdla.cfm?i=1462">Details</a>. </p>
        <p><br />
        </p>
        <h3><a href="https://www.ocdla.org/cart/detail_newocdla.cfm?i=1"><img src="/images/images-products/fsm_2012_150.jpg" width="150" height="193" class="imgRight" /></a>Felony Sentencing in Oregon</h3>
        <h6>Succeed at Sentencing</h6>
        <p>Some sentencing issues are so complex you would have to spend hours researching what you can find easily in this invaluable resource. The 2012 edition, updated with the May 2015 Update,  helps you arrive at the correct interpretation and craft a winning argument. You’ll reach for it every time:<br />
          • your client is pleading to more than one felony count in a single indictment <br />
          • the state files a notice of aggravating factors <br />
          • you are going to “open sentencing” on felony charges. </p>
        <p>And those are just a few examples. For   comprehensive coverage of sentencing issues, guidelines and related case law, plus  practice pointers and detailed <br />
          challenges that can be raised on constitutional and other grounds, don’t look any further. <a href="http://www.ocdla.org/calendar.shtml"><img width="7" height="10" alt="arrow" src="/images/images-buttons/arrow-trans.png" border="0" /></a> <a href="https://www.ocdla.org/cart/detail_newocdla.cfm?i=1">Order here</a>.</p>
        <p><br />
        </p>
        <h3>Practical Guide to Oregon Criminal Procedure &amp; Practice</h3>
        <h6>Paul De Muniz</h6>
        <p>A terrific reference tool to Oregon procedural issues that lawyers are likely to confront in criminal cases. Released August, 2015, this is a substantial update to the 2011 edition. <strong>$55</strong>. <a href="http://www.ocdla.org/calendar.shtml"><img width="7" height="10" alt="arrow" src="/images/images-buttons/arrow-trans.png" border="0" /></a> <a href="https://www.ocdla.org/cart/detail_newocdla.cfm?i=289">Order here</a>.</p>
        <p>Features: <br />
          • Search &amp; Seizure Outline<br />
          • Prior Crimes and Bad Acts <br />
          • Confrontation<br />
          • Merger of Sentences<br />
          •  Updated Statutes, Including Speedy Trial and Disclosure of Exculpatory Evidence</p>
        <h3><br />
          <br />
        </h3>
        <h3><img src="/images/images-products/SearchSeizureCover-webgraphic.jpg" width="150" height="157" class="imgRight" />2015 Update to Search and Seizure in Oregon</h3>
        <p>Search and Seizure in Oregon has been updated for 2015, with case law updates and two new chapters. The following chapters are new to the manual:</p>
        <p>• Chapter 8—Search/Seizure of Digital Data, Bronson James<br />
          • Chapter 9—Before and After the Appeal, Ryan Scott<br />
        </p>
        <p>The following chapters have updates with significant case law since the manual was issued in September, 2014:</p>
        <p>• Chapter 1, &quot;Was there a Search/Seizure&quot;<br />
          • Chapter 3, &quot;Warrantless Searches&quot;<br />
          • Chapter 5, &quot;Search Warrants&quot;<br />
          • Chapter 6, &quot;Is Defendant Entitled to Suppression?&quot;</p>
        <p>The book focuses on key opinions, with in-depth analysis, practice tips, and much more. Starting at just $175. <a href="http://www.ocdla.org/calendar.shtml"><img width="7" height="10" alt="arrow" src="/images/images-buttons/arrow-trans.png" border="0" /></a> <a href="https://www.ocdla.org/cart/detail_newocdla.cfm?i=1514">Order here</a>.<br />
        </p>
        <p>&nbsp;</p>
				<img src="/images/images-resources/lod-graphic1.jpg" alt="library of defense" width="196" height="46" class="imgLeft" />
				<h3 id="lod-feed">
					Library of Defense Case Summaries				</h3>
				<div id="lod-feed-replace">&nbsp;</div>

      <!-- InstanceEndEditable --></div>
    </div>