<HTML>
<head>
<title>OCDLA</title>
</head>
<body>
<table width="560px" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
	<td COLSPAN="2">
	<!--<img SRC="http://www.ocdla.org/images/rideshare_header.jpg" />-->
	</td>
</tr>
<tr>
	<td ALIGN="left"><font face="Trebuchet MS, Arial, sans-serif" color="#666666">Oregon Criminal Defense Lawyers Association</font>
	</td>
</tr>
<tr><td COLSPAN="2"><img SRC="http://www.ocdla.org/images/vspacer.gif" /></td></tr>
<tr>
	<td VALIGN="center" COLSPAN="2">
		<font face="Trebuchet MS, Arial, sans-serif" color="#666666">
		<font size="5">&nbsp;</font><br />
		<font size="4" color="#000000"><strong>[Title]</strong>
		<br /><br />
	</td>
</tr>
<tr><td COLSPAN="2">&nbsp;</td></tr>
</table>
<!--Introductory Announcement-->
<table width="560px" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
	<td COLSPAN="3" VALIGN="top">
	<hr></td>
</tr>
<!-- ANNOUNCEMENT-->
<tr><td COLSPAN="3"><img SRC="http://www.ocdla.org/images/vspacer.gif" /></td></tr>
<tr>
	<td><img SRC="http://www.ocdla.org/images/spacer.gif" /></td>
	<td WIDTH="125px" ALIGN="left" VALIGN="top"></td>
	<td><p>Dear [Name]:</p>
	  <p>You own the  2013 Felony Sentencing in Oregon manual PDF and are also signed up as a Keep Me Current subscriber. This means you receive updates to the Felony Sentencing in Oregon manual automatically and are billed once per year for the updates.</p>
	  <p>The October 2013 Felony Sentencing in Oregon&nbsp;manual update has been prepared and added to the 2012 Felony Sentencing in Oregon PDF.</p>
	  <p>The updated PDF is available to download by clicking on the download link below.&nbsp;<br />
	    <br />
      The electronic download(s) you have purchased is/are for your use only. Files are to be used by the purchasing member only and are not to be distributed to others except as allowed by the PDF License.</p>
	  <p>1) Log in to the OCDLA website with your user name and password. </p>
	  <p>2) Then click on the link below to access the download link(s).<br />
	    <font face="Trebuchet MS, arial, sans-serif">
        <font size="4" color="#000000">
	        <br /> 
        [Content]        </font>
        </font>
      </p></td>
</tr>
<tr><td COLSPAN="3"><img SRC="http://www.ocdla.org/images/vspacer.gif" /></td></tr>
<tr><td COLSPAN="3"><hr /></td></tr></table>
<!--FOOTER-->
<table width="560px" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
	<td align="left">
	<A href="http://www.ocdla.org"><!--<img src="http://www.ocdla.org/images/gav.gif" width="110" height="100" alt="OCDLA Logo" />--></a>
	</td>
	<td ALIGN="right"><img src="http://www.ocdla.org/images/blockspace.jpg" width="100px" /><td>
	<td>
	<font color="#666666"><div style="font-size:10pt;">Oregon Criminal Defense Lawyers Association<br />
	101 East 14th<br />
	  Eugene, Oregon  97401<br />Phone: (541) 686-8716<br />Fax: (541) 686-2319<br />Email: info@ocdla.org<br />Website: http://ocdla.org</font></div></td>
	</tr>
</table>
</body>
</html>