<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Single Sign-On | OCDLA: Oregon Criminal Defense Lawyers Association</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="Keywords" content="oregon criminal law,oregon criminal defense lawyer,oregon criminal defense attorney,oregon criminal defense,criminal defense lawyer,criminal defense attorney,attorney,lawyer,law directory,continuing legal education,library of defense" />
		<meta name="Description" content="The Oregon Criminal Defense Lawyers Association serves the defense community through continuing legal education, public education, networking and legislative action." />
		<style type="text/css">
		<!--
		.style5 {color: #333333; }
		-->
		</style>
		<style type="text/css">
		<!--
		.style6 {color: #CDAC38; }
		-->
		</style>
		<!-- InstanceEndEditable -->

		<!-- http://developer.yahoo.com/performance/rules.html#js_bottom -->
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		<link rel="stylesheet" href="/resources/libraries/jquery-ui-1.9.2/themes/base/jquery-ui.css" media="all" type="text/css" />
		<link href="/scripts/p7pmm/p7PMMv08.css" rel="stylesheet" type="text/css" media="all" />
		<link href="/stylesheets/layout.css?v=0.1" rel="stylesheet" type="text/css" />


		<!--[if IE 5]>
		<style>body {text-align: center;}#wrapper {text-align: left;}.menulist a {float: left; clear: both;}
		#column_wrapper {height: 1%;}</style>
		<![endif]-->
		<!--[if lte IE 7]>
		<style>#wrapper, #footer, #masthead, #column_wrapper {zoom: 1;}</style>
		<![endif]-->
		<script type="text/javascript" src="/resources/cache/jquery-1.8.3-and-jquery-ui-1.9.2.js" defer="defer"></script>
		<script type="text/javascript" src="/resources/js/ajax_globals.js" defer="defer"></script>
		<script type="text/javascript" src="/resources/js/ocdla.js?v=1.0" defer="defer"></script>
	</head>

	<body id="p7bod">

		<div id="wrapper">

			<div id="masthead">
				<div class="content">&nbsp;</div>
			</div>
	
			<div id="topnav">
				<ul class="content" id="navlinks">
					<li id="user-widget">
					</li>
					<li class="menu-item">
						<a id="lod_link" href="https://libraryofdefense.ocdla.org">Library of Defense</a>
					</li>
					<li class="menu-item">
						<a href="https://www.ocdla.org/cart/index_newocdla.cfm">OCDLA Store</a>
					</li>
					<li class="menu-item">
						<a href="https://www.ocdla.org/cart/viewcart_newocdla.cfm">View Cart</a>
					</li>
					<li class="menu-item">
						<a href="https://www.ocdla.org/search.shtml">SEARCH</a>
					</li>
				</ul>
			</div>
		
			<div id="column_wrapper">
				<div id="left">
					{% include "OcdlaLoginBundle:Default:main_menu.html.twig" ignore missing %}
					<p>&nbsp;</p>
					{% include "OcdlaLoginBundle:Default:left_promo.html.twig" %}
				</div>
			</div>


			
			<div id="center">
				<div class="content">
					<div class="node">     
						{% block body %}
							<h1>Hello {{ name }}!</h1>
						{% endblock %}
					</div>      
			  </div>
			</div>

			<div id="footer">
				<div class="content">
					OCDLA, 101 East 14th, Eugene, OR, 97401
					- 541.686.8716 - <a href="mailto:info@ocdla.org" style="color:#fff; font-weight:bold;">info@ocdla.org</a>
				</div>
			</div>


		</div><!-- end page-wrapper -->
	</body>

</html>