
#member-lookup {

}


#member-lookup input {
    font-size: 1.5em;
    padding: 0.5em;
    border: 1px solid #999;
    border-radius: 25px;
}


.show-errors .field-errors {
	visibility:visible;
	color:red;
	font-size:1.2em;
	display:block;
}

.field-errors {
	visibility:hidden;
}


.form-item {
	display:block;
}


.form-item-actions {
	margin-top:25px;
}


#member-lookup-button {
	transition: padding-left .5s ease-in;
	/*width 2s, height 2s, background-color 2s, transform 2s;	*/
}

.member-lookup-button-loading #member-lookup-button {
	padding-left:60px;
}