<!DOCTYPE html>
<html>
	<head>
		<title>{{ head_title }}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		<meta
		 name="viewport"
		 content="width=device-width;
				 initial-scale=1;
				 maximum-scale=1;
				 minimum-scale=1; 
				 user-scalable=no;"
		/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="Keywords" content="oregon criminal law,oregon criminal defense lawyer,oregon criminal defense attorney,oregon criminal defense,criminal defense lawyer,criminal defense attorney,attorney,lawyer,law directory,continuing legal education" />
		<meta name="Description" content="The Oregon Criminal Defense Lawyers Association serves the defense community through continuing legal education, public education, networking and legislative action." />
		{{ styles|raw }}
		{{ scripts|raw }}
	</head>

	<body>

		{{ page_top|raw }}
		
		{{ page|raw }}
		
		{{ page_bottom|raw }}
	
		{{ scripts_footer|raw }}
	</body>
</html>