<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<title>Oregon Criminal Defense Lawyers Association - OCDLA</title>

<script type="text/javascript" src="/includes/ocdla.js"></script>
<link href="/stylesheets/layout-2col.css" rel="stylesheet" type="text/css" />

<!--[if IE 5]>
<style>body {text-align: center;}#wrapper {text-align: left;}.menulist a {float: left; clear: both;}
#column_wrapper {height: 1%;}</style>
<![endif]-->
<!--[if lte IE 7]>
<style>#wrapper, #footer, #masthead, #column_wrapper {zoom: 1;}</style>
<![endif]-->
<link href="/scripts/p7pmm/p7PMMv08.css" rel="stylesheet" type="text/css" media="all" />
<!--<link href="/p7ssm/p7ssm_06.css" rel="stylesheet" type="text/css" media="all" />-->


<!--<script type="text/javascript" src="/p7ssm/p7SSMscripts.js"></script>-->
<script type="text/javascript" src="/scripts/p7pmm/p7PMMscripts.js"></script>
<script type="text/javascript" src="/includes/ajax_globals.js"></script>
<!--<script type="text/javascript" src="/includes/ajax.js"></script>-->

</head>