              <ul id="menu" class="p7PMMv08">
    <li><a href="/index.shtml">Home</a></li>
    <li><a href="/seminars/shop-seminar-index.shtml">Seminars &amp; Events</a></li>
    <li><a href="/cart/browse_newocdla.cfm?category=Publications">Publications</a></li>
    <li><a href="#">CLE Archive</a>
          <ul>
            <li><a href="/cart/browse_newocdla.cfm?category=CLE%20Archive%202012">2012 CLEs</a></li>
            <li><a href="/cart/browse_clenewocdla.cfm?category=SeminarArchives">2006-2011 CLEs</a></li>
            <li><a href="/seminars/shop-seminar-specialty.shtml">Specialty Credits</a></li>
          </ul>
    </li>
    <li><a href="#">Membership</a>
          <ul>
            <li><a href="/shop-membr-index.shtml">Join</a></li>
            <li><a href="/about-life.shtml">Life Members</a></li>
            <li><a href="/about-sustaining.shtml">Sustaining Members</a></li>
          </ul>
    </li>
    <li><a href="javascript:;">About OCDLA</a>
          <ul>
            <li><a href="/shop-membr-index.shtml">About OCDLA</a></li>
            <li><a href="/contact-board.shtml">Board of Directors</a></li>
            <li><a href="/contact-committee.shtml">Committees</a></li>
            <li><a href="/contact-us.shtml">Office/Staff/Lobbyists</a></li>
            <li><a href="/about-faq.shtml">FAQs</a></li>
            <li><a href="/about-copyright.shtml">Copyright Info</a></li>
          </ul>
    </li>
    <li><a href="#" onclick="MM_openBrWindow('/membership/memberdirectory_newocdla.php','','menubar=yes,scrollbars=yes,resizable=yes,width=850,height=800');return false;">Member Directory</a></li>
    <li><a href="http://libraryofdefense.ocdla.org/">Library of Defense</a></li>
    <li><a href="/news-legis.shtml">Legislative Action</a></li>
    <li><a href="/shop-membr-capdef.shtml">Capital Defenders</a></li>
    <li><a href="/news-defenseattorney-archive.shtml">Defense Attorney</a></li>
    <li><a href="/shop-donation-index.shtml">Donate</a></li>
        <li><a href="/about-donors.shtml">Donors</a></li>
    <li><a href="#">Court Info</a>
          <ul>
            <li><a href="http://www.ojd.state.or.us/judges">Circuit Court Judges</a></li>
            <li><a href="http://courts.oregon.gov/Supreme/index.page">Supreme Court</a></li>
            <li><a href="http://courts.oregon.gov/COA/index.page">Appellate Court</a></li>
            <li><a href="http://courts.oregon.gov/OJD/aboutus/courtsintro/judicialdistricts.page?">Oregon Judicial Districts</a></li>
            <li><a href="http://www.ojd.state.or.us/Web/OJDPublications.nsf/Rules?OpenPage">Rules</a></li>
            <li><a href="http://www.ojd.state.or.us/Web/OJDPublications.nsf/SLR?OpenView%26count=1000">SLRs</a></li>
          </ul>
    </li>
    <li><a href="#">Resources</a>
          <ul>
            <li><a href="http://www.ocdla.org/resources-expert-witness.shtml/">Expert Witnesses</a></li>
            <li><a href="http://libraryofdefense.ocdla.org/">Library of Defense</a></li>
            <li><a href="/members_only/index.php">Legal Document Library</a></li>
            <li><a href="/news-whats-appening.shtml">What's APPening</a></li>
            <li><a href="/news-view.shtml">View From Here</a></li>
            <li><a href="/resources-video-archive.shtml">Seminar Video Highlights</a></li>
            <li><a href="/news-announce.shtml">News</a></li>
            <li><a href="/resources-pd.shtml">Public Defense</a></li>
            <li><a href="/resources-links.shtml">Links</a></li>
            <li><a href="/data-emaillists.shtml">E-mail Lists</a></li>
          </ul>
    </li>
    <li><a href="/employment/jobs_newocdla.cfm">Jobs</a></li>
    <li><a href="#">Members Only</a>
          <ul>
            <li><a href="/profiles/index.php">My Profile</a></li>
            <li><a href="/members_only/index.php">Legal Document Library</a></li>
          </ul>
    </li>
    <li><a href="/calendar.shtml">Calendar</a></li>
    <li><a href="#">Contact Us</a>
          <ul>
            <li><a href="/contact-board.shtml">Board of Directors</a></li>
            <li><a href="/contact-committee.shtml">Committees</a></li>
            <li><a href="/contact-us.shtml">Office/Staff/Lobbyists</a></li>
          </ul>
    </li>
  </ul>