{#
Twig template to output product options in an HTML table
#}
<table width="500" border="0" cellspacing="4px" cellpadding="0">
	<tr>
		<td align="left" valign="top"><strong>QTY</strong></td>
		<td align="left" valign="top"><strong>MEDIA</strong></td>
		<td valign="top"><strong>Member</strong></td>
		<td valign="top"><strong>Non-member</strong></td>
	</tr>
	{% for product in options %}
		
	<tr>
		<td>
			<input name="itemid[]" type="hidden" value="{{ product.getId() }}" />
			<input name="quantity[]" type="text" size="2" />		
		</td>
		<td valign="middle">
			{{ product.getProductOptionName()|raw }}
		</td>
		<td valign="middle" align="center">
			${{ product.getMemberPrice() }}
		</td>
		<td valign="middle" align="center">
			{% if product.membersOnly() %}
				N/A
			{% else %}
				${{ product.getPrice() }}
			{% endif %}
		</td>
	</tr>
	{% endfor %}
</table>