{# isMember = false #}
<!-- set the number of product options in this group -->
{% set hasOptions = options|length %}	
{% set membersOnly = true %}

{#
* productId - The ID of this product; or for a product
*	with multiple options, the ID of the parent product.
* 
* productName - The name of this product.
*
* edition - The product edition.
*
* options - The options for the given product.
*
*
*
*
* 
#}

<!-- Viewing product {{ productId }} -->
		<h3>{{ productName | raw}}</h3>
		<p><strong>{{ edition | raw}}</strong></p>

	  	
		<!--- only display the member/non-member prices if there are no options --->
{% if not hasOptions %}
	
	
	{# Non-member price #}



	{# Member price #}


	{% if category == "Donations" %}
			<span class="style2">Donation Amount: </span>${{ price }}
			<br />
	{% endif %}
		
			<span class="style2">Member Price: </span>${{ memberPrice }}
			<br />
				
	{% if not membersOnly %}	
			<span class="style2">Non-Member Price: </span>${{ price }}
			<br />
	{% else %}
			<span class="style2">Members Only</span>
			<br />
	{% endif %}


{% endif %}
	

	



<!-- double-check the login requirements for this product and user -->

	{% if redirectToLogin %}
		<cfset ref = URLEncodedFormat(#cgi.path_info# & '?' & #cgi.query_string#) />
		<form action="https://auth.ocdla.org/login?ref=#ref#" method="post" onsubmit="return checkForm();">
		<input type="hidden" name="is_member" value="{{ isMember }}" />
		<input type="hidden" name="form_id" value="ocdla_add_to_cart_form" />
		<input type="hidden" name="loginaction" value="{{ loginaction }}" />
		<input type="hidden" name="script_name" value="/cart/detail_newocdla.cfm" />		
	{% else %}
		<form action="/cart/add" method="post" onsubmit="return checkForm();">
		<input type="hidden" name="form_id" value="ocdla_add_to_cart_form" />
		<input type="hidden" name="script_name" value="/cart/detail_newocdla.cfm" />		
	{% endif %}
	
	<input type="hidden" name="parent_i" value="#Fromcat.parent_i#" />



	<!-- if there is only one product to display -->
	{% if not hasOptions %}
		<input type="hidden" name="itemid[]" value="{{ productId }}" />
		<table width="500" border="0" cellspacing="0px" cellpadding="0px">
			<tr>
				<td valign="bottom" style="padding:0px; margin:0px;">
					Quantity:&nbsp;<input type="text" name="quantity[]" value="1" size="2" />
				</td>
			</tr>
		</table>
	{% else %}
		<!-- otherwise, display product options -->
		{% include 'product-options.html' with {'options':options,'isMember':isMember} only %}
	{% endif %}
				
				  
	<table width="500" border="0" cellspacing="0px" cellpadding="0px">
		<tr>
			<td>
				<input type="hidden" name="newocdla" value="newocdla" />		
				<input type="image" src="{{ themePath }}/images/cart/icon-addtocart.gif" style="margin:0px; padding:0px; vertical-align:bottom;" />

				<a href="{{ cartDomain }}/cart/createmore.cfm" style="margin:0px; padding:0px; border:0px; vertical-align:bottom;">
					<img src="{{ themePath }}/images/cart/icon-continueshopping.gif" alt="Continue Shopping" style="vertical-align:bottom; border:none;padding:0px;margin:0px;" width="111" height="20" />
				</a>
				<a href="{{ cartDomain }}/cart/viewcart_newocdla.cfm" style="margin:0px; padding:0px; border:0px; vertical-align:bottom;">
					<img src="{{ themePath }}/images/cart/icon-viewcart.gif" alt="View Cart" style="vertical-align:bottom; border:none;" width="85" height="20" />
				</a>
			</td>
		</tr>
	</table>				
</form>


<p class='product-image'>
	<img width="150px" border="0" height="192px" alt="Photo" src="/sites/default/files/images/images-products/{{ product.getImage() }}" class="imgRight" />
</p>

<p class='product-author'>
	Author/Editor:&nbsp;{{ product.getEditor()|raw }}
</p>

<p class='product-description'>
			{{ product.getDescription()|raw }}
</p>



<div class='cart-payment-icons'>
    <img width="40" border="0" height="26" alt="VISA" src="/sites/default/files/images/images-icons/visa1.gif" /> 

    <img width="40" border="0" height="26" alt="MasterCard" src="/sites/default/files/images/images-icons/master1.gif" /> 

    <img width="40" border="0" height="26" alt="American Express" src="/sites/default/files/images/images-icons/amex1.gif" /> 

    <img width="40" border="0" height="26" alt="Discover" src="/sites/default/files/images/images-icons/discover1.gif" /> 
    
    <a href="/cart/checkout/privacy_statement.shtml">
    	<img width="90" border="0" height="26" alt="secure icon" src="/sites/default/files/images/images-icons/secure.gif" />
    </a>
</div>
	