			<div class="content">
              <h5 class="eventdescrip">
              	<a href="http://www.twitter.com/OregonDefense">
              		<img src="/images/images-icons/follow_us-a.png" alt="Follow OregonDefense on Twitter" width="128" height="21" />
              	</a>
              </h5>
              	<br />
				<div style="margin:0 auto;width:30px;">
					<a href="http://www.facebook.com/pages/Oregon-Criminal-Defense-Lawyers-Association/123699404364462?ref=tn_tnmn">
						<img width="20" height="20" src="/images/images-icons/facebook.gif" alt="Facebook" />
					</a>
				</div>
			</div>

            <div class="content" contentEditable="true"><!-- InstanceBeginEditable name="SidebarLeft" -->
              <table width="100%" border="0" cellpadding="5" cellspacing="10" class="boxbackgroundgold">
              <tr>
                <td><h5><a href="/shop-membr-index.shtml">Join OCDLA</a></h5>
                    <p><img src="/images/images-buttons/arrow-trans.png" width="7" height="10" alt="transparent arrow" /> <a href="/shop-membr-index.shtml">Demand <br />
                      &nbsp;&nbsp;                  Justice</a></p>
                  <p><img src="/images/images-buttons/arrow-trans.png" width="7" height="10" alt="transparent arrow" /> <a href="/shop-membr-index.shtml">Speak for <br />
                    &nbsp;&nbsp;                  the Voiceless</a></p>
                  <p> <img src="/images/images-buttons/arrow-trans.png" width="7" height="10" alt="transparent arrow" /> <a href="/shop-membr-index.shtml">Act with<br />
                    &nbsp;                  Courage</a></p></td>
              </tr>
            </table>
            <p>&nbsp;</p>
            <table width="100%" border="0" cellpadding="5" cellspacing="10" class="boxbackground">
              <tr>
                <td><h5>FIND A<br />
                  LAWYER
                </h5>
                  <p><a href="http://www.ocdla.org/membership/memberdirectory_newocdla.php">Search our <br />
                  membership<br />
                  directory</a></p></td>
              </tr>
            </table>
      <p>&nbsp;</p>