/**
 * Panels
 */
.well {
	
}

.panel {
	width: 100%;
}

h3 {
	font-weight:bold;
	color:#666;
	font-size:1.4rem;
}

@media screen and (min-width:800px){
	h1 {
		font-size:5.0rem;
	}	
}


/**
 * Error messages
 */
.messages {
	display:none;
}






/**
 * Display products as table.
 */
.product-table {
	display:table;
}

.product-row {
	display:table-row;
}

.product-cell {
	display:table-cell;
	padding-bottom:15px;
}

.product-image {
	text-align:right;
}

.img-responsive {
	display:inline;
}

.product-image img {
	width:120px;
	vertical-align:middle;
}

.product-image-primary img {
	width:150px;
	vertical-align:middle;
}

.itemPrice {
color: #06a0ac;
	font-size:1.2em;
}

.product-info {
	vertical-align:top;
	padding-left:20px;
}

.intro {
		font-size: 1.6em;
		margin-bottom: 50px;
		margin-top: 25px;
}

.product-summary .product-cell  {
	border-top: 1px solid #666;
	padding-top:25px;
}

.product-summary {
	font-size:1.6em;
	font-weight:bold;
	color: #06a0ac;
}

.why {
/*display:none !important;*/
	padding:15px;
	font-size:smaller;
	background-color:yellow;
	display:inline-block;
	color:#333;
	border-radius: 8px;
	position: absolute;
	top: 15px;
	right: 0px;
	max-width: 20%;
}


.btn-primary {
	padding-left:50px;
}

.loading .btn-primary {
	background-image: url(https://membertest.ocdla.org/sites/default/files/icons/loading.gif);
	background-position: 15px center;
	background-repeat: no-repeat;
}